.logOutButton {
	width: 100%;
	border-radius: 0;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	font-weight: 600;
	line-height: 1.5;
	color: #fff;
	background: linear-gradient(to bottom, #ff4d4d, #c50000);
	transition-duration: 0.2s;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
		0 2px 4px -1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.logOutButton:active {
	transform: scale(0.95);
}
.logOutButton:focus-visible {
	outline: 2px solid #640404;
	outline-offset: 2px;
	outline-width: 2px;
}

@media (max-width: 900px) {
	.logOutButton {
		width: 100%;
		border-radius: 0;
		padding-left: 0.45rem;
		padding-right: 0.45rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		font-weight: 600;
		line-height: 1.5;
		color: #fff;
		background: linear-gradient(to bottom, #ff6d6d, #c50000);
		transition-duration: 0.2s;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
			0 2px 4px -1px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		font-size: small;
	}
}
